<div class="container" id="game_page">

<% if @game.player_two_id == nil %>
<!-- DISPLAY PENDING PLAYER TWO MESSAGE -->
  <div class="pending-player-two">
    <h2>Waiting for player two ...</h2>
  </div>
<% else %>
  <div class="players_details">
    <h5>Player 1: <%= @game.find_player_one(@game.id) %></h5>
    <h5>Player 2: <%= @game.find_player_two(@game.id) %> </h5>
  </div>
  <div>
    <h2 class='winner'></h2>
  </div>
<% end %>

<!-- GAME BOARD -->
  <div class="btn btn-group btn-group-justified">

    <table class="table" id="game_board" data-player="<%= @player %>">
      <tbody>
        <tr>
          <td><button class="btn btn-default" data-position="A1">.</button ></td>
          <td><button class="btn btn-default" data-position="A2">.</button ></td>
          <td><button class="btn btn-default" data-position="A3">.</button ></td>
        </tr>
        <tr>
          <td><button class="btn btn-default" data-position="B1">.</button></td>
          <td><button class="btn btn-default" data-position="B2">.</button ></td>
          <td><button class="btn btn-default" data-position="B3">.</button ></td>
        </tr>
        <tr>
          <td><button class="btn btn-default" data-position="C1">.</button ></td>
          <td><button class="btn btn-default" data-position="C2">.</button ></td>
          <td><button class="btn btn-default" data-position="C3">.</button ></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>